In [108]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd

In [110]:
conn=pymysql.connect(host='localhost',user='root',password='SQL@13442.',database='student_db')

#a=curr.execute('select * from marks')
#rows=a.fetchall()

In [114]:
df=pd.read_sql('select * from marks;',conn)
print(df.to_string(index=False))
df1=pd.read_sql('select name,avg(marks) as avg_marks from marks group by name;',conn)
print(df1.to_string(index=False))
df2=pd.read_sql('select name,avg(marks) as avg_marks from marks group by name order by avg_marks desc limit 1;',conn)
print(df2.to_string(index=False))
df3=pd.read_sql('select name,subject,marks from marks where marks in (select max(marks) from marks group by subject);',conn)
print(df3.to_string(index=False))
df4=pd.read_sql('select name,subject,marks from marks order by marks desc limit 1;',conn)
print(df4.to_string(index=False))
conn.close()

 student_ID name subject  marks
          1 Amit    Math     80
          1 Amit Physics     90
          2 Riya Biology     92
          2 Riya    Math     72
          2 Riya Physics     64
          3 Siya    Math     83
          3 Siya Physics     90
          4  Raj Biology     76
          4  Raj    Math     84
          4  Raj Physics     85
name  avg_marks
Amit    85.0000
Riya    76.0000
Siya    86.5000
 Raj    81.6667
name  avg_marks
Siya       86.5
name subject  marks
Amit Physics     90
Riya Biology     92
Siya Physics     90
 Raj    Math     84
name subject  marks
Riya Biology     92

/var/folders/tb/z0bq9g_91gq1wl6skvm3b0fm0000gn/T/ipykernel_1055/2784962474.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql('select * from marks;',conn)
/var/folders/tb/z0bq9g_91gq1wl6skvm3b0fm0000gn/T/ipykernel_1055/2784962474.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1=pd.read_sql('select name,avg(marks) as avg_marks from marks group by name;',conn)
/var/folders/tb/z0bq9g_91gq1wl6skvm3b0fm0000gn/T/ipykernel_1055/2784962474.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2=pd.read_sql('select name,avg(marks) as avg_marks from marks group by name order by avg_marks desc limit 1;',conn)
/var/folders/tb/z0bq9g_91gq1wl6skvm3b0fm0000gn/T/ipykernel_1055/2784962474.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df3=pd.read_sql('select name,subject,marks from marks where marks in (select max(marks) from marks group by subject);',conn)
/var/folders/tb/z0bq9g_91gq1wl6skvm3b0fm0000gn/T/ipykernel_1055/2784962474.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df4=pd.read_sql('select name,subject,marks from marks order by marks desc limit 1;',conn)